<form accept-charset="UTF-8" action="https://formkeep.com/f/6e347dc423ac" method="POST">
<input type="hidden" name="utf8" value="✓">
  <div>
    <label>
      <span>Name: (required)</span>
      <input name="Name" placeholder="Please enter your name" type="text" tabindex="1" required autofocus>
    </label>
  </div>
  <div>
    <label>
      <span>Email: (required)</span>
      <input name="Email" placeholder="Please enter your email address" type="email" tabindex="2" required>
    </label>
  </div>
  <div>
    <label class="inline">
      <span>Add to mailing list:</span>
      <input name="Mailinglist" placeholder="Add to mailing list?" type="checkbox" value="mailinglist" tabindex="3">
    </label>
  </div>
  <div>
    <label>
      <span>Telephone: (required)</span>
      <input name="Telephone" placeholder="Please enter your number" type="tel" tabindex="4" required>
    </label>
  </div>
  <div>
    <label>
      <span>Address:</span>
      <input name="Address1" placeholder="Please enter your address" type="text" tabindex="5">
    </label>
  </div>
  <div>
    <label>
      <span></span>
      <input name="Address2" type="text" tabindex="6">
    </label>
  </div>
  <div>
    <label>
      <span>Town/City:</span>
      <input name="Town" placeholder="Please enter your town or city" type="text" tabindex="7">
    </label>
  </div>
  <div>
    <label>
      <span>Post code: (required for shipping quotes)</span>
      <input name="Postcode" placeholder="Please enter your post code" type="text" tabindex="8">
    </label>
  </div>
  <div>
    <label>
      <span>Country: (required)</span>
      <input name="Country" value="United Kingdom" placeholder="United Kingdom" type="text" tabindex="9" required>
    </label>
  </div>
