  <div>
    <label>
      <span>Details:</span>
      <textarea name="Questions" placeholder="If you would like a price please provide as much informatiom as possible including delivery/shipping address, wood choice and any size alterations." tabindex="99" ></textarea>
    </label>
  </div>
  <input type="hidden" name="url" value="{{ site.url }}{{ page.url  | remove_first: '/' }}">
  <div id="form_buttons">
    <button name="submit" type="submit" id="contact-submit">Send</button><a href="#!" id="hide_contact" class="button">Close</a>
  </div>

</form>
