<h3 id="handmade">More than just beautifully crafted contemporary furniture<br/>
    Collectible, classic design with an iconic feel</h3>
<center>
    <img id="roundel" src="//images.cart-shed.com/image?src=/kwf/KWRoundel3-500.png&width=80&height=80&format=png" alt="KWF" width="80" height="80"/>
</center>

<div class="footer">

    <div class="social">
        <!-- See http://socicon.com/ for details of the fonts used for this -->
        <!-- Twitter -->
        <a href="https://twitter.com/intent/tweet?via=katiewalkerfurn&text=Katie+Walker's+{{ page.social | replace:' ','+' }}&url={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}" class="twitter-share-button" data-via="katiewalkerfurn" data-count="none" data-dnt="true">a</a>
        <a target="_blank" class="follow" href="https://twitter.com/katiewalkerfurn">a <span class="normal"> Follow </span></a>
        <!-- Pinterest -->
        <a href="http://pinterest.com/pin/create/button/?url={{ site.url | uri_escape }}{{ page.url | uri_escape }}&media={{ page.headimage }}&description=Katie+Walker's+{{ page.social | replace:' ','+' }}+#katiewalkerfurniture" target="_blank">d</a>

        <!-- Instagram -->
        <a target="_blank" href="http://instagram.com/katiewalkerfurniture">x</a>

    </div>
    <div id="contactFooter">
        <a href="/contact">Contact us</a><br/>
            or call +44 7747 615323
        <div id="rights">
            &copy; {{ site.time | date: '%Y' }}. All rights reserved.
        </div>
    </div>
</div>
