<head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107277227-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments)};
    gtag('js', new Date());

    gtag('config', 'UA-107277227-1');
  </script>

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-5QTN9J8');</script>
  <!-- End Google Tag Manager -->

  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta charset="UTF-8">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} :: {{ site.tagline }}
    {% else %}
      {{ site.title }} :: {{ page.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="/public/css/syntax.css">
  <link rel="stylesheet" href="/public/css/kwf.css">

  <link rel="stylesheet" href="//images.quru.com/static/styles/canvas_view.css" type="text/css" />
  <link rel="stylesheet" href="//images.quru.com/static/styles/gallery_view.css" type="text/css" />

  <!-- JS -->
  <script src="/public/js/kwf.js" type="text/javascript"></script>
  <!--[if lte IE 8]>
    <script src="//images.quru.com/static/js/excanvas_yc.js" type="text/javascript"></script>
  <![endif]-->
  <script type="text/javascript" src="//images.quru.com/static/js/mootools_yc.js"></script>
  <script src="//images.quru.com/static/js/canvas_view_yc.js" type="text/javascript"></script>
  <script src="//images.quru.com/static/js/gallery_view_yc.js" type="text/javascript"></script>

  <script type="text/javascript">
    window.addEvent('domready', function() {

      // Zoomer/gallery options and events
      var viewer_opts = { showcontrols: 'yes' };
      var gallery_opts = { viewer: viewer_opts };
      var events = {};

      // Init image zoomer/gallery
      if (document.getElementsByClassName('gallery_image').length > 1) {
        gallery_view_init_all_fullscreen('gallery_image', gallery_opts, events);
      }
      else {
        canvas_view_init_all_images('gallery_image', viewer_opts, events);
      }
    });
  </script>

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/images/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="/public/images/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS"
  href="/atom.xml">

  <meta http-equiv="content-type" content="text/html;charset=utf-8" />

  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="imagetoolbar" content="false" />

  <meta name="apple-mobile-web-app-title" content="Create" />
  <meta name="apple-touch-fullscreen" content="yes" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="white" />
  <meta name="format-detection" content="telephone=no" />

  <!--[if !IE]><!-->
      <script>
          if("standalone"in window.navigator&&window.navigator.standalone){var noddy,remotes=!0;document.addEventListener("click",function(d){for(noddy=d.target;"A"!==noddy.nodeName&&"HTML"!==noddy.nodeName;)noddy=noddy.parentNode;"href"in noddy&&-1!==noddy.href.indexOf("http")&&-1==noddy.href.indexOf(".pdf")&&(-1!==noddy.href.indexOf(document.location.host)||remotes)&&(d.preventDefault(),document.location.href=noddy.href)},!1)}
      </script>
  <!--<![endif]-->


  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />

  <meta http-equiv="cleartype" content="on" />

  <meta name="keywords" content="Katie Walker, furniture, design, Ribbon rocker, Windsor rocker, West Sussex, United Kingdom" />

  <meta property="og:title" content="Katie Walker - Furniture" />
  <meta name="twitter:title" content="Katie Walker - Furniture" />

  <meta name="description" content="Katie Walker is a leading furniture designer working in England with such reknowned retailers as John Lewis and Heals." />
  <meta property="og:description" content="Katie Walker is a leading furniture designer working in England with such reknowned retailers as John Lewis and Heals." />
  <meta name="twitter:description" content="Katie Walker is a leading furniture designer working in England with such reknowned retailers as John Lewis and Heals." />

  <!-- <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" /> -->

  <link rel="shortcut icon" type="image/x-icon" href="/public/images/favicon.ico" />
  <link rel="icon" type="image/png" href="/public/images/favicon.png" />
  <link rel="logo" type="image/svg" href="/images/brandmark.svg" />
  <!-- <link rel="icon" type="image/png" href="/icon-195px.png" /> -->
  <meta name="msapplication-TileImage" content="/images/mobile-OS/144x144.png" />
  <meta name="msapplication-TileColor" content="#ffffff" />
  <meta name="application-name" content="Create" />

  <meta property="og:url" content="/" />
  <meta name="twitter:url" content="/" />

  <meta property="og:type" content="commercial" />

  <meta property="og:locale" content="en_GB" />

  <meta property="og:image" content="//images/open-graph/brandmark.png" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:width" content="512" />
  <meta property="og:image:height" content="512" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@KatieWalkerFurn" />
  <meta name="twitter:creator" content="@KatieWalkerFurn" />

  <meta name="twitter:image" content="//images/open-graph/brandmark.png" />
  <meta name="twitter:image:height" content="512" />
  <meta name="twitter:image:width" content="512" />

  <meta name="geo.country" content="GB" />
  <meta name="geo.region" content="GB-WSX" />
  <meta name="geo.placename" content="Pulborough, England" />
  <meta name="geo.position" content="50.961;-0.514" /> <!-- Latitude; Longitude -->

  <!-- non-retina iPhone pre iOS 7 -->
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/images/mobile-OS/57x57.png" />
  <!-- non-retina iPad pre iOS 7 -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/mobile-OS/72x72.png" />
  <!-- non-retina iPad iOS 7 -->
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/images/mobile-OS/76x76.png" />
  <!-- retina iPhone pre iOS 7 -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/mobile-OS/114x114.png" />
  <!-- retina iPhone iOS 7 -->
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/images/mobile-OS/120x120.png" />
  <!-- retina iPad pre iOS 7 -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/mobile-OS/144x144.png" />
  <!-- retina iPad iOS 7 -->
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/images/mobile-OS/152x152.png" />

  <!-- iPhone STARTUP-->
  <link rel="apple-touch-startup-image" media="(device-width: 320px)" href="/images/mobile-OS/startup/320x460.png" />
  <!-- iPhone (Retina) STARTUP-->
  <link rel="apple-touch-startup-image" media="(device-width: 320px) and (-webkit-device-pixel-ratio: 2)" href="/images/mobile-OS/startup/640x920.png" />
  <!-- iPad (portrait) STARTUP-->
  <link rel="apple-touch-startup-image" media="(device-width: 768px) and (orientation: portrait)" href="/images/mobile-OS/startup/768x1004.png" />
  <!-- iPad (landscape) STARTUP-->
  <link rel="apple-touch-startup-image" media="(device-width: 768px) and (orientation: landscape)" href="/images/mobile-OS/startup/1024x748.png" />
  <link rel="apple-touch-startup-image" media="(device-width: 768px) and (orientation: landscape)" href="/images/mobile-OS/startup/1496x2048.png" />
  <!-- iPad (Retina, portrait) STARTUP-->
  <link rel="apple-touch-startup-image" media="(device-width: 1536px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" href="/images/mobile-OS/startup/1536x2008.png" />
  <!-- iPad (Retina, landscape) STARTUP-->
  <link rel="apple-touch-startup-image" media="(device-width: 1536px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" href="/images/mobile-OS/startup/1496x2048.png" />

  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/selectivizr.min.js"></script>
  <![endif]-->

</head>
