<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5QTN9J8"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="logoImage"></div>
<div class="header">
  <a href="#" id="show_nav" title="Show navigation"></a>
  <div class="logo"><a href="{{ site.baseurl }}"><span class="brand">KatieWalker</span><span class="subbrand">furniture</span></a></div>
<div id="nav">
    <ul id="menu">
      <li class="first nodropdown"><a href="{{ site.baseurl }}about" id="about">About</a>
          <ul class="menu_sub" id="menu_about_sub">
               <li><a href="{{ site.baseurl }}materials" id="materials">Craftsmanship and materials</a></li>
          </ul>
      </li>
      <li id="menu_work"><a href="{{ site.baseurl }}work/index.html" id="work">Work</a>
        <ul class="menu_sub" id="menu_work_sub">
          <li><a href="{{ site.baseurl }}work/tobuy.html" id="toBuy">To buy</a></li>
          <li><a href="{{ site.baseurl }}work/tocommission.html" id="toCommission">To commission</a></li>
          <li><a href="{{ site.baseurl }}work/forretailers.html" id="forRetailers">For others</a></li>
        </ul>
      </li>
      <li class="nodropdown"><a href="{{ site.baseurl }}news" id="news">News</a></li>
      <li class="last nodropdown"><a href="{{ site.baseurl }}contact" id="contact">Contact</a></li>
    </ul>
  </div>
</div>
