
<div class="logoImage"></div>

<div class="header">
  <a href="#" id="show_nav" title="Show navigation"></a>
  <div class="logo"><a href="/"><span class="brand">KatieWalker</span><span class="subbrand">furniture</span></a></div>

  <div id="nav">
    <ul id="menu">
      <li class="first nodropdown"><a href="/about.html" id="about">About</a>
          <ul class="menu_sub" id="menu_about_sub">
              <li><a href="/about.html" id="aboutKatie">About Katie Walker</a></li>
              <li><a href="/timeless.html" id="timeless">Bringing timeless icons to you</a></li>
              <li><a href="/nature.html" id="nature">Designs for nature</a></li>
          </ul>
      </li>
      <li id="menu_work"><a href="/furniture/collection.html" id="furniture">Furniture</a>
          <ul class="menu_sub" id="menu_work_sub">
              <li><a href="/furniture/collection.html" id="collection">Collection</a></li>
              <li><a href="/furniture/folio.html" id="folio">Folio</a></li>
          </ul>
      </li>
      <!-- <li class="nodropdown"><a href="/furniture/folio.html" id="folio">Folio</a></li> -->
      <li class="nodropdown"><a href="/news" id="news">News</a></li>
      <li class="nodropdown"><a href="/visit.html" id="visit">Visit</a></li>
      <li class="last nodropdown"><a href="/contact" id="contact">Contact</a></li>
    </ul>
  </div>
</div>
