<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<!--<link href='http://fonts.googleapis.com/css?family=Fjord+One' rel='stylesheet' type='text/css'>-->

  {% include head.html %}
  <body>

    {% include header.html %}

    {{ content }}

    {% include footer.html %}

    <script type="text/javascript">
      function ready(fn) {
        if (document.addEventListener) {
          document.addEventListener('DOMContentLoaded', fn);
        } else {
          document.attachEvent('onreadystatechange', function() {
              if (document.readyState === 'interactive')
                fn();
              });
        }
      }

      ready(function() {
        {% if page.menus %}
        {% capture selectMenus %}{% for item in page.menus %}'{{ item }}',{% endfor %}{% endcapture %}
        selectMenus([ {{ selectMenus }} ]);
        {% endif %}
         /* add other stuff */
      });

       var classFoundList = document.getElementsByClassName('cell');
        for(var i=0;i<classFoundList.length;i++){
          classFoundList[i].addEventListener('mouseover', function() { flipCell(this);});
          classFoundList[i].addEventListener('mouseout', function() { unflipCell(this);});
          classFoundList[i].addEventListener('click', function() { unflipCell(this);});
        }
    </script>

    <!--[if lte IE 8]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
	
    <noscript>
        <div class="noscript">
	    <p>This site requires JavaScript. Please enable JavaScript in you browser settings.</p>
	</div>
    </noscript>
  </body>

</html>
