<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

<head>

{% include head.html %}

</head>

<noscript>
    <div class="noscript">
	    <p>This site requires JavaScript. Please enable JavaScript in you browser settings.</p>
	</div>
</noscript>

    {% include analytics.html %}

<body>

    {% include header.html %}

    {{ content }}

    {% include footer.html %}

    <script type="text/javascript">
      function ready(fn) {
        if (document.addEventListener) {
          document.addEventListener('DOMContentLoaded', fn);
        } else {
          document.attachEvent('onreadystatechange', function() {
              if (document.readyState === 'interactive')
                fn();
          });
        }
      }

      ready(function() {
/*          {% if page.menus %}{% capture selectMenus %}{% for item in page.menus %}'{{ item }}',{% endfor %}{% endcapture %}selectMenus([ {{ selectMenus }} ]);{% endif %} */
          /* add other stuff */

          var classFoundList = document.getElementsByClassName('cell');
          for(var i=0;i<classFoundList.length;i++){
              classFoundList[i].addEventListener('mouseover', flipCell );
              classFoundList[i].addEventListener('mouseout', unflipCell );
              /* classFoundList[i].addEventListener('touchend', function (e) { unflipCell(e, "Go"); } ); */
              /* classFoundList[i].addEventListener('touchend', unflipCell, true );
               * classFoundList[i].addEventListener('touchstart', flipCell, false );
               * classFoundList[i].addEventListener('touchleave', unflipCell, false); */
          }

          /*if (('ontouchstart' in window) || (navigator.maxTouchPoints > 0) || (navigator.msMaxTouchPoints > 0) || (true)) {*/
          if (('ontouchstart' in window) || (navigator.maxTouchPoints > 0) || (navigator.msMaxTouchPoints > 0)) {
              /* browser with either Touch Events of Pointer Events running on touch-capable device */
              var b = document.getElementsByTagName('body');
              if (b.length > 0) {
                  if (b[0].classList) {
                      b[0].classList.add('touch');
                  } else {
                      b[0].className += ' ' + 'touch';
                  }
              }
              kwfAddEventListener(document.getElementById('show_nav'), 'click', show_nav);
              kwfAddEventListener(document.getElementById('show_nav'), 'touchend', show_nav);
              kwfAddEventListener(document.getElementById('menu_work'), 'click', function() { showById('menu_work_sub');});
              kwfAddEventListener(document.getElementById('menu_work'), 'touchend', function() { showById('menu_work_sub');});
           } else {
           kwfAddEventListener(document.getElementById('menu_work'), 'click', function() { goToUrl(window.location = '/work');});
              kwfAddEventListener(document.getElementById('show_nav'), 'click', show_nav);
        }
      });

/* href="/work" */
/* window.location = /work;*/


    </script>

  </body>

</html>
