---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <img class="post-title" src="{{ page.headimage }}&width=800&height=300&top=0.135&bottom=0.7" alt=" "/>

  {{ content }}
</div>

<div class="related">
<h2>Stocked items</h2>
  <div class="grid">
    {% for post in site.work %}{% if post.title != "Work" %}{% capture lvendor %}{{ page.title | downcase }}{% endcapture %}{% if post.retailer contains lvendor %}
    {% include cell.html %}
    {% endif %}{% endif %}{% endfor %}
  </div>
</div>
