---
layout: default
---

<div class="post">
    <h1 class="post-title">{{ page.title }}</h1>
    <img class="post-title gallery_image" alt="{{ page.title }}" src="{{ page.headimage }}&width=342" srcset="{{ page.headimage }}&width=342 360w, {{ page.headimage }}&width=770 800w,  {{ page.headimage }}&width=1440 2x">
    {{ content }}
</div>

<div class="related">
    <h2>Pieces available</h2>
    <div class="grid clearfix">
        {% assign contents = site.furniture | sort:'order' %}{% for post in contents %}{% if post.title != "Furniture" %}{% assign lvendor = page.title | downcase %}{% if post.retailer contains lvendor %}
        {% include cell.html %}
        {% endif %}{% endif %}{% endfor %}
    </div>
</div>
