---
layout: default
---

{% include workheader.html %}
<div class="post">
  <img
    src="{{ page.headimage }}"
    alt="{{ page.title }}"
    class="post-title gallery_image"
  />
  <h1 class="post-title">{{ page.title }}</h1>
  {{ content }}

<div class="grid clearfix" id="otherImages">
{% for cell in page.otherimages %}{% include imagecell.html %}{% endfor %}
</div>

{% if page.stock > 0 %}
<a href="#!" class="button" id="show_contact">Buy Now</a>
<div id="contact_form" class="order">
<p>We currently have {{ page.stock }} in stock at {{ page.price }}.</p>
<p>If you would like to purchase a {{ page.title }} then please complete the following form and we will contact you to discuss your options and delivery within {{ site.data.respond.days }} working days.
{% include contact.html %}
  <div>
    <label>
      <span>Quantity needed: (required)</span>
      <input name="Quantity" value="1" placeholder="United Kingdom" type="integer" tabindex="9" required>
    </label>
  </div>
  <input name="Type" value="Order" type="hidden">
{% include contactend.html %}
</div>
{% else %}
<p> The {{ page.title }} is currently out of stock at Katie Walker Furniture.{% if page.stockdate %} We are expecting stock by {{page.stockdate}}{% endif %} If you would like to reserve one please <a href="#!" id="show_contact">click here</a>{% if page.retailer %} or contact one of our stockists{% endif %}.
<div id="contact_form" class="reserve">
{% include contact.html %}
 <div>
    <label>
      <span>Quantity to reserve: (required)</span>
      <input name="Quantity" value="1" placeholder="United Kingdom" type="integer" tabindex="9" required>
    </label>
  </div>

  <input name="Type" value="Reserve" type="hidden">
{% include contactend.html %}
</div>
{% endif %}
{% if page.retailer %}
<h2>Stockists</h2>
<div class="grid clearfix" id="stockists">
  {% for vendor in page.retailer %}{% capture lvendor %}{{ vendor | downcase }}{% endcapture %}{% for post in site.retailers %}{% capture lretailer %}{{ post.title | downcase }}{% endcapture %}{% if lretailer == lvendor %}{% include cell.html %}{% endif %}{% endfor %}{% endfor %}
</div>
{% endif %}

</div>

<script>
kwfAddEventListener(document.getElementById('show_contact'), 'click', function() { return showById('contact_form'); });
kwfAddEventListener(document.getElementById('hide_contact'), 'click', function() { return hideById('contact_form'); });
</script>