---
layout: default
---

{% include workheader.html %}
<div class="post">
<h1 class="post-title">{{ page.title }}</h1>
  <img class="post-title" src="{{ page.headimage }}" alt="{{ page.title }}"/>
  {{ content }}
</div>

{% if page.stock %}
<a href="#" class="BuyButton">Buy Now</a>
<div id="buyNow">
You can buy this because we have {{ page.stock }} in stock
</div>
{% endif %}


{% if page.retailer %}
<h2>Stockists</h2>

<div class="grid">
  {% for vendor in page.retailer | downcase %}{% for post in site.retailers %}{% if post.title | downcase == vendor %}
     {% include cell.html %}
  {% endif %}{% endfor %}{% endfor %}
</div>
{% endif %}