---
layout: default
---

{% include workheader.html %}

  {% if page.storeitem %}<span itemscope itemtype="http://schema.org/Product" class="microdata">
    <meta itemprop="id" content="{{ page.storeid }}">
    <meta itemprop="name" content="{{ page.title }}">
    <meta itemprop="description" content="{{ page.storedescription }}">
    <meta itemprop="google product category" content="{{ page.storegoogleproductcategory }}">
    <meta itemprop="product type" content="{{ page.storeproducttype }}">
    <meta itemprop="image" content="{{ page.storeimage }}">
    <meta itemprop="condition" content="{{ page.storecondition }}">
    {% if page.stock > 0 %}<meta itemprop="availability" content="in stock">{% else %}<meta itemprop="availability" content="pre-order">{% endif %}
    <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
      {% for m in page.storeprice %}<meta itemprop="price" content="{{ m.cost }}">
      {% endfor %}<meta itemprop="priceCurrency" content="GBP">
    </span>
    <meta itemprop="brand" content="Katie Walker Furniture">
    <meta itemprop="mpn" content="{{ page.mpn }}">
    <meta itemprop="colour" content="{{ page.colour |default(natural) }}">
    <meta itemprop="material" content="{{ page.material|default(wood) }}">
    <meta itemprop="shipping" content="UK::Standard:{{ page.shippingcost|default(35) }}.00 GBP">
    <meta itemprop="shipping weight" content="{{ page.shippingweight }} KG">
  </span>{% endif %}

  <div class="post">
    <img class="post-title gallery_image" alt="{{ page.title }}" src="{{ page.headimage }}&width=342" srcset="{{ page.headimage }}&width=342 360w, {{ page.headimage }}&width=770 800w,  {{ page.headimage }}&width=1440 2x">
    {% if page.houzztag %}<div class="Houzztag"">{{ page.houzztag | default() }}</div>{% endif %}


  <h1 class="post-title">{{ page.title }}</h1>
    {% if page.storeprice|length > 0 %}<div class="price">{% for m in page.storeprice %}<br/>{% if m.type %}{{ m.type }} - {% endif %}£{{ m.cost }}{% endfor %} including VAT.</div>{% endif %}

    {{ content }}

  {% if page.awards %}<div class="awards">
    This piece was awarded{% for gong in page.awards %}{% if forloop.first %} {% elsif forloop.last %} and {% else %}, {% endif %}{{ gong }}{% endfor %}.
  </div>{% endif %}


  {% if page.collections != null %}<div class="collections">
    {{ page.collections }}
  </div>{% endif %}

  <div class="grid clearfix" id="otherImages">
    {% for cell in page.otherimages %}{% include imagecell.html %}{% endfor %}
  </div>

  {% if page.stock > 0 %}
  <a href="#!" class="button" id="show_contact">Place an order</a>
  <div id="contact_form" class="order">
  <!-- <p>We currently have {{ page.stock }} in stock at {{ page.price }}.</p>
--><p>If you would like to purchase a {{ page.title }} then either telephone +44 7747 615323 during UK working hours or complete the following form and we will contact you to discuss your options and delivery within {{ site.data.respond.days }} working days.

{% include contact.html %}
   <input name="Type" value="Order" type="hidden">
{% include contactend.html %}
</div>
{% elsif page.stock == 0 %}
<p> The {{ page.title }} is currently out of stock at Katie Walker Furniture.{% if page.stockdate %} We are expecting stock by {{page.stockdate}}{% endif %} If you would like to reserve one please <a href="#!" id="show_contact">click here</a>{% if page.retailer %} or contact one of our stockists{% endif %}.
<div id="contact_form" class="reserve">
{% include contact.html %}

  <input name="Type" value="Reserve" type="hidden">
{% include contactend.html %}
</div>
{% else %}
{% if page.type contains "commission" %}
<p> The {{ page.title }} was a site specific commission. If you would like more information on this commission or to enquire about the commissioning process then please <a href="#!" id="show_contact">click here</a>.
{% elsif page.type contains "buy" %}
<p> The {{ page.title }} is made to order. If you would like more information or to place an order then please  <a href="#!" id="show_contact">click here</a>{% if page.retailer %} or contact one of our stockists{% endif %}.
{% elsif page.type contains "retailer" %}
<p> The {{ page.title }} is available from {{ page.retailer[0] }}. If you would like more information about this product then please  <a href="#!" id="show_contact">click here</a>{% if page.retailer %}{% endif %}.{% endif %}
<div id="contact_form" class="reserve">
{% include contact.html %}

  <input name="Type" value="Enquire" type="hidden">
{% include contactend.html %}
</div>
{% endif %}
{% if page.retailer %}
{% if page.type contains "retailer" %}<h2>Available from</h2>{% else %}<h2>Other stockists</h2>{% endif %}
<div class="grid clearfix" id="stockists">
  {% for vendor in page.retailer %}{% capture lvendor %}{{ vendor | downcase }}{% endcapture %}{% for post in site.retailers %}{% capture lretailer %}{{ post.title | downcase }}{% endcapture %}{% if lretailer == lvendor %}{% include cell.html %}{% endif %}{% endfor %}{% endfor %}
</div>
{% endif %}

</div>

<script>
kwfAddEventListener(document.getElementById('show_contact'), 'click', function() { return showById('contact_form'); });
kwfAddEventListener(document.getElementById('hide_contact'), 'click', function() { return hideById('contact_form'); });
</script>
